<div class="page-wrapper">
  <div class="container-fluid">
    <p id="notice"><%= notice %></p>
    <div class="row page-titles">
      <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0"><%= @document.name %></h3>
      </div>
      <div class="col-md-6 col-4 align-self-center">
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <p>
          <strong>Description:</strong>
          <%= @document.description %>
        </p>

        <p>
          <strong>Assigned File:</strong>
          <%if @document.assigned_file.present?%>
            <%= @document.name %> -
            <%= link_to 'Download', download_assigned_file_employee_document_path(@document) %>
          <%end%>
        </p>

        <p>
          <strong>Submitted File:</strong>
          <%if @document.submitted_file.present?%>
            <%= @document.name %> -
            <%= link_to 'Download', download_submitted_file_employee_document_path(@document) %>
          <%end%>
        </p>

        <p>
          <strong>Company:</strong>
          <%= @document.company.name %>
        </p>

        <p>
          <strong>Employer:</strong>
          <%= @document.employer.name %>
        </p>
        <p>
          <strong>Employee:</strong>
          <%= @document.employee.name %>
        </p>

        <%= link_to 'Edit', edit_employee_document_path(@document), class: "btn btn-primary" %>
        <%= link_to 'Back', employee_documents_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>


