<tr>
  <td><%= document.name %></td>
  <td><%= document.description %></td>
  <td>
    <%if document.assigned_file.present?%>
      <%= document.name %> -
      <%= link_to 'Download', download_assigned_file_employer_document_path(document) %>
    <%end%>
  </td>
  <td>
    <%if document.submitted_file.present?%>
      <%= document.name %> -
      <%= link_to 'Download', download_submitted_file_employer_document_path(document) %>
    <%end%>
  </td>
  <td><%= document.employee.name %></td>
</tr>