<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "HR System" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "HR System" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body class="fix-header fix-sidebar card-no-border">
    <% if employer_signed_in? %>
      <%=render 'employer/shared/header' %>
      <%=render 'employer/shared/navigation' %>
    <%end%>
    <%= yield %>
  </body>
</html>
